<h3>Admin Dashboard</h3>

<div class="container">
  <div class="row">

    <button type="button" class="btn btn-primary" (click)="createEmployeeRequest()">
      <i class="fa fa-plus"></i>
      New Employee
    </button>

     <table class="table table-hover">
        <thead class="table table-borderless">
           <tr class="text-center">
            <th>#</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Action</th>
           </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let temp of employees; index as ind">

            <td>{{ind + 1}}</td>
            <td>
              <img height="40" width="40" src="" class="rounded-circle img-fluid img-thumbnail" alt=""/>
            </td>
            <td>{{temp.firstName}}</td>
            <td>{{temp.lastName}}</td>
            <td>{{temp.phone}}</td>
            <td class="">
              <div class="btn-group">
                <button  class="btn btn-outline-info" (click)= editEmployeeRequest(temp) ><i class="fas fa-edit"></i></button>
                <button  class="btn btn-outline-danger" (click)="deleteEmployeeRequest(temp)" ><i class="fas fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
     </table>

       <!-- Start Pagination -->
  <div class=" col-md-8  pag ">

    <ngb-pagination
       [(page)]="page"
       [pageSize]="pageLength"
       [collectionSize]="totalOrder"
       [maxSize]="2"
       [boundaryLinks]="true"
       (pageChange)="doing()"
    >
    </ngb-pagination>



    <div class="sel">
     <select (change)="pageSize($event)">
       <option>3</option>
       <option selected="true">5</option>
       <option>8</option>
     </select>
   </div>

 </div> <!-- End Pagination -->



  </div>
</div>


<app-save [employee]="selectedEmployee" (save)="saveEmployeeWatcher($event)"></app-save>

<app-delete (confirmed)="deleteEmployeeTemp()"></app-delete>





