<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
       <h1 class="card-title text-center">LOGIN</h1>
       <div class="card-text">

         <form (ngSubmit)="login()" [formGroup]="formParentGroup" >
          <div formGroupName="user">
            <div class="form-group">
              <label for="exampleInputEmail1">Username or Email Address</label>
              <input formControlName="email" type="email" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': email.errors, 'is-valid':email }" />
              <!-- start validate usernameORemail -->
                   <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <div class="form-text text-danger" *ngIf="email.hasError('required')">
                      Username or e-mail is required
                    </div>
                    <div class="form-text text-danger" *ngIf="email.hasError('email')">
                      The provided e-mail address is invalid
                    </div>
                    <div class="form-text text-danger" *ngIf="email.hasError('pattern')">
                      The provided username is invalid
                    </div>
                   </div>
               <!-- end validate usernameORemail -->

            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input formControlName="password" type="password" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': password.errors, 'is-valid':password }"/>
               <!-- start validate password -->
               <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <div class="form-text text-danger" *ngIf="password.hasError('required')">
                  Password is required
                </div>
               </div>
              <!-- end validate password -->
            </div>

            <div class="d-grid ">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>

            <div class="signup">
                Don't have an account?  <a routerLink="/register">Create One</a>
            </div>
            <div class="d-flex justify-content-center">
              <a routerLink="/reset">Forgot your password?</a>
            </div>

          </div>
         </form>
       </div>

       <h5><span>or</span></h5>

       <div class="google">
        <asl-google-signin-button type='icon' size='medium' class="asl"></asl-google-signin-button>
      </div>


    </div>
  </div>
</div>

