<div class="container">
  <div class="row">

     <table class="table table-hover">
        <thead class="table table-borderless">
           <tr class="text-center">
             <th>Image</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email</th>
             <th>Phone</th>
           </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let temp of employees">
            <td>
              <img height="40" width="40" src="" class="rounded-circle img-fluid img-thumbnail" alt=""/>
            </td>
            <td>{{temp.firstName}}</td>
            <td>{{temp.lastName}}</td>
            <td>{{temp.email}}</td>
            <td>{{temp.phone}}</td>
          </tr>
        </tbody>
     </table>

        <!-- Start Pagination -->
  <div class=" col-md-8  pag ">

    <ngb-pagination
       [(page)]="page"
       [pageSize]="pageLength"
       [collectionSize]="totalOrder"
       [maxSize]="2"
       [boundaryLinks]="true"
       (pageChange)="doing()"
    >
    </ngb-pagination>



    <div class="sel">
     <select (change)="pageSize($event)">
       <option>3</option>
       <option selected="true">5</option>
       <option>8</option>
     </select>
   </div>

 </div> <!-- End Pagination -->




  </div>
</div>



