<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
       <h1 class="card-title text-center">Register</h1>
       <div class="card-text">

         <form>
          <div formGroupName="user">

            <div class="form-group">
              <label for="exampleInputName1">Name</label>
              <input formControlName="name" type="text" class="form-control form-control-sm" id="exampleInputName1"/>
                <!-- start validate name -->
                <!-- <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                  <div class="form-text text-danger" *ngIf="name.hasError('required')">
                    Name is required
                  </div>
                </div> -->
                <!-- end validate name -->
            </div>

            <div class="form-group">
              <label for="exampleInputUsername1">Username</label>
              <input formControlName="username" type="text" class="form-control form-control-sm" id="exampleInputUsername1"/>
                <!-- start validate username -->
                <!-- <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                  <div class="form-text text-danger" *ngIf="username.hasError('required')">
                    Username is required
                  </div>
                </div> -->
                <!-- end validate username -->
            </div>

           <div class="form-group">
             <label for="exampleInputEmail1">Email Address</label>
             <input formControlName="email" type="email" class="form-control form-control-sm" id="exampleInputEmail1"/>
               <!-- start validate email -->
               <!-- <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div class="form-text text-danger" *ngIf="email.hasError('required')">
                  E-mail is required
                </div>
                <div class="form-text text-danger" *ngIf="email.hasError('email')">
                  The provided e-mail address is invalid
                </div>
               </div> -->
               <!-- end validate email -->
           </div>

           <div class="form-group">
             <label for="exampleInputPassword1">Password</label>
             <input formControlName="password" type="password" class="form-control form-control-sm" id="exampleInputPassword1" />
             <!-- start validate password -->
             <!-- <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div class="form-text text-danger" *ngIf="password.hasError('required')">
                Password is required
              </div>
             </div> -->
             <!-- end validate password -->
           </div>

           <div class="d-grid ">
             <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
           </div>


           <div class="signup">
            Have already an account?  <a routerLink="/login">Login here</a>
         </div>
          </div>
         </form>

       </div>
    </div>
  </div>
</div>
