.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0db8de;

}


form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.login-form {
  width: 380px;
  height: 340px;
  background: #1a2226 !important;
  border-radius: 10px !important;
  margin-top: 30px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  background: #1a2226;
  border: 2px solid #0db8de;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}

input[type="text"] :focus,
input[type="email"] :focus,
input[type="password"] :focus {
  outline: none;
  border: none;
  background: #1a2226;
  margin: 0;
}


.card-title {
  font-weight: 900;
  padding-top: 20px;
}

.btn {
  background: #0db8de !important;
  font-size: 14px;
  transform: translateY(10px);
  border-radius: 10px !important;
}

.signup {
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
}

.social-media {
  max-width: 400px;
  background-color: #1a2226;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  border-top: 1px solid #dee9ff;
  margin-top: 30px;
}

.alert
{
  border-radius: 10px;
  padding: 5px;
  border-style: none;
  margin-top: -9px;
}

.alert-danger {
  color: #CF4332;
  background-color: transparent;
}

a{
  text-decoration: none;
}

