<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
       <h1 class="card-title text-center">Active Code</h1>
       <div class="card-text">

         <form (ngSubmit)="done()" [formGroup]="formParentGroup">
          <div formGroupName="user">
           <div class="form-group">
            <label for="exampleInputCode">Welcome <span>{{email}}</span></label>
             <input formControlName="code" type="text" class="form-control form-control-sm" id="exampleInputCode" [ngClass]="{ 'is-invalid': code.errors, 'is-valid':code }"/>
              <!-- start validate name -->
              <div *ngIf="code?.invalid && (code?.dirty || code?.touched)">
                <div class="form-text text-danger" *ngIf="code.hasError('required')">
                  Code is required
                </div>
              </div>
              <!-- end validate name -->
            </div>

           <div class="d-grid ">
             <button type="submit" class="btn btn-primary btn-block">Submit</button>
           </div>

          </div>
         </form>

       </div>
    </div>
  </div>
</div>
